/* Style the body to set default styles for the page.*/
* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #232946;
    color: #fffffe;
    font-family: Trebuchet MS, sans-serif;
    font-size: 18px;
    margin: 50px;
}

img {
    height: 300px;
    width: auto;
    display: block;
    margin: auto;
}

.title {
    font-size: 40px;
    text-align: center;
    color: hotpink;
    margin: 10px;
}

.subtitle {
    font-size: 30px;
    text-align: center;
    color: #b8c1ec;
}

.author {
    font-size: 20px;
    text-align: center;
    margin: 20px;
    color: #fffffe;
    font-style: italic;
}

h1, h2 {
    color: hotpink;
    text-align: center;
    text-transform: uppercase;
}

.time {
    font-weight: bold;
    color: #fbdd74;
    margin: 20px;
}

p {
    color: #eebbc3;
    margin: 10px;
}

ul li {
    list-style: square;
    margin: 0.5rem;
}

ol li {
    margin: 0.5rem;
}
ul, ol {
    margin-left: 50px;
}
li {
    max-width: 700px
}

a:link {
    color: #eebbc3;

}

a:visited {
    color: #b8c1ec;
}

a:hover {
    color: hotpink;
    text-decoration: none;
}

a:active {
    color: #fffffe;
}
/*select html and set the background color, color, font family with fallback, and font size. */
/*change img height to 300px and width to auto*/
/*change subtitle font size to larger than the default. */
/*Change the times to a bold font-weight*/
/*select the li inside of ingredients to list-style: square*/
/*select the times inside of the lists and change to a different color*/
/*select the link and change it's color; */
/*select h1 and h2 elements and change their case to uppercase*/
